/* Title Styling */
.title-container {
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    width: 100%;
}

body {
    background-color: #0f2d3e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

h2 {
    margin-bottom: 20px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #29abe2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2193c9;
}

.flash-messages {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
}